$black: black;
$spiner: orange;
.loader {
  border: 5px solid black;
  border-top: 5px solid $spiner;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
