.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width:665px;
    input {
        outline: 0;
        padding: 10px 15px;
        border-radius: 5px;
        border: 1px solid #D8D8D8;
        box-sizing: border-box;
    }
    label {
        margin-bottom: 5px;
        cursor: pointer;
    }
    input:invalid {
        border: 1px solid #D91313
      }
}
