.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 665px;
  textarea {
    outline: 0;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    resize: none;
  }
  label {
    margin-bottom: 5px;
    cursor: pointer;
  }
  input:invalid {
    border: 1px solid #d91313;
  }
}
